{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZoodoComputer</title>
    
    <title>{{ page_title }}</title>
    {% block headLinks %}{% endblock headLinks %}

</head>

<body>
  
    <!-- Body -->
    {% block bodyContent %}{% endblock bodyContent %}
    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- JS -->

{% block JsContent %}{% endblock JsContent %}
    
</body>
</html>