<footer>
  <div class="bubbles"></div>
  <div class="footer-content">
    <div class="footer-section">
      <h3>Contact</h3>
      <p>
        <a href="mailto:someone@example.com" target="_blank" rel="noopener noreferrer">
          <i style="font-size: 28px;" class="fas fa-envelope"></i>
        </a>
      </p>
      <p>Tél: (+226) xx-xx-xx</p>
    </div>
    <div class="footer-section">
      <h3>Suivez nous:</h3>
      <div class="social-icons">
        <a href="https://facebook.com" style="color: blue;" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
        <a href="https://wa.me/yourphonenumber" style="color:greenyellow" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://www.linkedin.com/in/yourprofile" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
</footer>