<div class="promo-container" id="promoBar">
    <div class="promo-slider">
      <div class="promo-item">
        <i class="fas fa-graduation-cap"></i>
        Promote rentrée scolaire
      </div>
      <div class="promo-item">
        <i class="fas fa-shield-virus"></i>
        kits supplementaires à gagner pour tous vos achats
      </div>
      <div class="promo-item">
        <i class="fas fa-truck"></i>
        Livraison gratuite au Burkina Faso
      </div>
      <div class="promo-item">
        <i class="fas fa-shield-virus"></i>
        Obtenez gratuitement un anti-virus premium 
      </div>
     
      <!-- Repeated for seamless loop -->
      <div class="promo-item">
        <i class="fas fa-graduation-cap"></i>
        Promote rentrée scolaire
      </div>
    </div>
    
  </div>