{% extends '__frames/main.html' %}
{% load static %}
{% load i18n %}

{% block headLinks %}

<!-- CssContent -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet"  type="text/css" href="{% static 'style/loading-page.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static 'style/promotion-bar.css' %}">
<script src="{% static 'js/loading-page.js' %}" ></script>
<style>
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f8f9fa !important;
    color: #333 !important;
    background-color: #B3B4BD;
    font-family: Helvetica, sans-serif;
}
.navbar-brand {
    box-shadow: 0 2px 4px #0A21C0;
    
}
.navbar {
    background: #050A44 !important;
    padding: 1rem 0;
    position: sticky;
    top: 0;
     z-index: 100; 
}
.navbar-brand img {
    height: 30px;
}
.section-title {
    color: #141619;
    border-bottom: 2px solid #7b1fa2;
    padding-bottom: 10px;
  }
  .section-title:hover{
    text-decoration: underline;
  }

    .form-section {
        background-color: white;
        border-radius: 10px;
      margin: 0 auto;
      border-right: 1px solid #B3B4BD;
      border-left: 1px solid #B3B4BD;
    }
    .progress {
        height: 5px;
        margin-bottom: 20px;
    }
    .btn-nav {
        margin-top: 20px;
    }
    .hidden {
        display: none;
    }
    .form-check-input{
        padding:12px;
    }

    .modal-body {
    max-height: 600px;
 
    overflow-y: auto;
  }
  #jobList {
    list-style-type: none;
    padding: 0;
  }
  #jobList li {
    cursor: pointer;
    padding: 5px;
  }
  #jobList li:hover {
    background-color: #f8f9fa;
}
footer {
    background-color: #050A44;
    color: white;
    padding: 2rem 1rem;
    position: relative;
    overflow: hidden;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
    text-align: center;
}
.footer-section h3 {
    margin-bottom: 15px;
    color: #fff;
}
.footer-section p, .footer-section a {
    color: #ddd;
    text-decoration: none;
    margin: 10px 0;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.social-icons a {
    color: white;
    font-size: 24px;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    opacity: 0.7;
}
.country-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.country-info img {
    width: 30px;
    height: auto;
}
.bubbles {
  display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(45deg, #333, #000);
}
.bubbles::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #000;
    background-image: radial-gradient(#333 20%, transparent 20%);
    background-size: 50px 50px;
    opacity: 0.3;
    animation: moveBubbles 20s linear infinite;
}
@keyframes moveBubbles {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #aaa;
}
@media screen and (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
    .footer-section {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
}

  .form-control:focus {
  border-color: #0A21C0;
  box-shadow: 0 0 0 0.2rem #0a22c0db;;
}
.ms-auto .nav-item .nav-link{
    color:#fff;
  }
  .ms-auto .nav-item .nav-link:hover{
    text-decoration: underline;
  }
.card-condition {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.card-condition:hover {
    transform: translateY(-5px);
}
.card-condition > h1 {
    color: #333;
    text-align: center;
}
.card-condition > h3 {
    color: #0A21C0;;
    border-bottom: 2px solid #0A21C0;;
    padding-bottom: 10px;
}
.condition-p {
    color: #34495e;
    line-height: 1.6;
}
.condition-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#accept {
    margin-right: 10px;
}
#condition-label {
    color: #34495e;
}
#condition-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#condition-btn:hover {
    background-color: #2980b9;
}
.brand:hover{
    background-color: #0A21C0!important;
    color:#fff;

  }
  .ms-auto .nav-item .nav-link{
    color:#fff;
  }
  .ms-auto .nav-item .nav-link:hover{
    text-decoration: underline;
  }

  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}


  /* Loading */
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
  }
  .custom-spinner {
    width: 80px;
    height: 80px;
    position: relative;
    animation: spinner-rotate 2s linear infinite;
  }
  .custom-spinner-circle {
    width: 100%;
    height: 100%;
    border: 8px solid #ffffff;
    border-radius: 50%;
    opacity: 0.7;
  }
  .custom-spinner-square {
    width: 30%;
    height: 30%;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: square-pulse 1s ease-in-out infinite alternate;
  }
  @keyframes spinner-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @keyframes square-pulse {
    0% { transform: translate(-50%, -50%) scale(0.8); }
    100% { transform: translate(-50%, -50%) scale(1.2); }
  }

  
/* General form styles */
#recommendationForm {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

/* Section styles */
.mb-3 {
    margin-bottom: 1.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1rem;
}

/* Label styles */
.form-label strong {
    color: #141619;
    font-size: 18px;
    display: block;
    margin-bottom: 0.5rem;
}

/* Checkbox and radio button styles */
.form-check-input {
    margin-right: 0.5rem;
}

.form-check-label {
    text-transform: uppercase;
    font-weight: bold;
}

/* Select styles */
.form-select {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

/* Input styles */
.form-control {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

/* Button styles */
.btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
}


/* Responsive grid */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}


.info-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip {
    visibility: hidden;
    width: 500px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-icon:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .navbar-brand {
    box-shadow: none;
    
}
}

/* Checkbox container styles */
.checkbox-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


#condition-label {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
#accept {
    margin-right: 10px;
    width: 25px;
    height: 25px;
}
#accept:hover {
    cursor: pointer;
}

  /* Media query footer */
@media screen and (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    justify-items: left;
  }

  .footer-section {
    margin: 1rem 0;
  }

  h3 {
    font-size: 1.1rem;
  }
  .navbar-brand {
    box-shadow: none;
    
}
  .social-icons{
          display: flex;
          justify-content: center;
          align-items: center;
          display: inline-block;
      }
  .info-icon,.tooltip{
      display: none;
    }
}

@media screen and (max-width: 480px) {
footer {
    padding: 1rem;
  }
  .info-icon,.tooltip{
      display: none;
    }
h3 {
    font-size: 1rem;
}

.social-icons a {
    font-size: 1.2rem;
  }
  .navbar-brand {
    box-shadow: none;
    
}
#form_ai_title{
    font-size: 20px;
  }
}


/* Responsive styles */
@media (max-width: 768px) {
.container {
    padding-top: 10px;
    padding-bottom: 10px;
}
.navbar-brand {
    box-shadow: none;
    
}
.info-icon,.tooltip{
      display: none;
    }
  .form-section {
    padding: 10px;
  }

  .row.g-2 > div {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .form-check {
    flex: 0 0 50%;
    min-width: unset;
  }

  .footer-content {
    flex-direction: column;
  }
  .navbar-brand {
    box-shadow: none;
    
}
  .footer-section {
    margin: 10px 0;
  }

  .form-label strong {
    font-size: 16px;
  }
  #form_ai_title{
    font-size: 20px;
  }
}


@media (max-width: 576px) {
  h4 {
    font-size: 1.5rem;
  }
  .navbar-brand {
    box-shadow: none;
    
}
  .info-icon,.tooltip{
      display: none;
    }
  .form-check {
    flex: 0 0 100%;
  }

  .btn {
    width: 100%;
    
  }

  .social-icons a {
    font-size: 20px;
    margin: 0 5px;
  }
  #form_ai_title{
    font-size: 20px;
  }
}

/* Accessibility improvements */
.form-control:focus,
.btn:focus {
  outline: 3px solid #0A21C0;
  outline-offset: 2px;
}

/* Print styles */
@media print {
  .navbar,
  footer,
  .btn {
    display: none;
  }

  body {
    font-size: 12pt;
    line-height: 1.5;
  }

  .container {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .form-section {
    border: none;
    box-shadow: none;
  }
}
</style>


{% endblock headLinks %}

{% block bodyContent %}

{% include 'loading-page.html' %}
{% include 'promotion-bar.html' %}
  <!-- Header  -->
  {% include 'header.html' %}
    <!-- Form container -->
    <div class="container" style="background-color: #b3b4bd15; min-height:600px; margin-bottom: 10px;">
        <div class="row justify-content-center mb-3">
            <div class="col-lg-10 form-section" style="border:1px solid #14161967">
                <h4 class="text-center mb-4 pt-5 " id="form_ai_title">
                  <b><i class="fa-solid fa-laptop"></i> Trouver l'ordinateur parfait avec  Zoodo IA <i class="fa-solid fa-robot"></i></b>
                </h4>
              <h4 style="text-align: center; display: flex; justify-content: center; align-items: center;" >
                  <button class="btn"  id="faqButton" data-bs-toggle="modal" data-bs-target="#faqModal"
                   style="width: 50%; background-color: #050A44; color: #fff;">CLIQUER ICI POUR DEMARER</button>
              </h4>

                <!-- Form -->
                <form id="recommendationForm" >
                    {% csrf_token %}
                    <!-- <h5 style="text-align:center"> <span class="badge bg-warning text-dark">1/1</span> </h5> -->
                    <i style="font-size: 11px;">* obligatoire</i>
                    <!-- Budget -->
                    <div class="mb-3">
                        <label for="minBudget" class="form-label">
                            <strong style="color:#050A44;font-size: 18px;">
                                 Budget (FCFA) <b style="color:red">*</b>
                                  <div class="info-icon">
                                    <i class="fas fa-info-circle" style="color:blue; font-size:15px;"></i>
                                    <span class="tooltip">
                                        La qualité d'un ordinateur depend du prix. 
                                        Nous imposons un prix vous permettant d'obtenir au moins un bon ordinateur.
                                    </span>
                                </div>
                               </strong> </label>
                        <div class="row g-2">
                            <div class="col-12 col-md-6">
                                <input type="number" name="minBudget" class="form-control" id="minBudget" placeholder="Budget Minimum" min="{{minBudget}}" max="{{maxBudget}}" value="" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="number" name="maxBudget" class="form-control" id="maxBudget" placeholder="Budget Maximum" min="{{minBudget}}"  max="{{maxBudget}}"  required>
                            </div>
                        </div>
                    </div>
                    <!-- Activité -->
                    <div class="mb-3" id="job-list-div">
                        <label for="jobInput" class="form-label">
                            <b style="color:#050A44;font-size: 18px;">
                               Votre activité <b style="color:red">*</b>
                               <div class="info-icon">
                                <i class="fas fa-info-circle" style="color:blue; font-size:15px;"></i>
                                <span class="tooltip">
                                  Choisissez simplement votre domaine d'activité.
                                </span>
                            </div>
                            </b> </label>

                        <input type="text" class="form-control" id="jobInput" placeholder="Aucune sélection"
                         data-bs-toggle="modal" data-bs-target="#jobModal" readonly required>

                    </div>
                    <!-- Description activite -->
                    <div class="mb-3">
                        <label for="jobDescription" class="form-label">
                          <strong style="font-size: 18px;">
                            Usage de l'ordinateur <i style="font-size: 11px;">(max.250 Mots)</i>
                            <div class="info-icon">
                              <i class="fas fa-info-circle" style="color:blue; font-size:15px;"></i>
                              <span class="tooltip">
                                  Si vous avez connaissance mettez l'accent sur les logiciels et les tâches que 
                                  réalisera l'ordinateur. Vous pouvez renseigner aussi vos besoins non fonctionnel.
                              </span>
                          </div>
                          </strong>
                        </label>
                        <textarea class="form-control" id="jobDescription"
                         placeholder="Par exemple: j'utilise des logiciels comme autoCard, photoshop, android studio, etc.." oninput="checkWordLimit(this)" style="min-height: 100px;"></textarea>
                      </div>
                      <!-- Marge de tolerence -->
                    <div class="mb-3">
                        <label class="form-label">
                            <strong style="font-size: 18px;">Marge de tolérance du prix max. <b style="color:red">*</b></strong>
                        </label>
                        <div class="d-flex flex-wrap">
                            {% for tolerance in tolerances %}
                            <div class="form-check" style="flex: 0 0 25%; min-width: 200px;">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio-{{ tolerance }}" value="{{ tolerance }}" {% if forloop.first %}checked{% endif %}>
                                <label class="form-check-label" for="radio-{{ tolerance }}">
                                    {{ tolerance }}%
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="calculatedPrice" class="form-label">
                            <strong style="font-size: 18px;">Prix maximal calculé</strong>
                        </label>
                        <textarea class="form-control" id="calculatedPrice" style="max-height: 50px;" disabled>0 FCFA</textarea>
                    </div>
                  <!-- condition d'utilisation -->
                    <div class="mb-3">
                        <div class="checkbox-container">
                          <label for="accept" >
                            <input type="checkbox" id="accept" name="accept" required>
                            J'ai lu et j'accepte les conditions et les politiques d'utilisation
                          </label>
                        </div>
                    </div>
                    <!-- Soumission -->
                    <div class="d-flex justify-content-center pb-5" style="flex-direction: column;">
                      <button type="submit" class="btn btn-success" id="submitBtn" 
                          style="background-color: #0A21C0 ;" disabled>
                          Lancer la recherche
                      </button>

                      <div class="mt-3 text-center ">
                        <a href="{% url 'main:order-without-ai' %}" class="btn "
                         style="background-color:#050A44; color:#fff; width: 100%;" >
                          Rechercher sans l'IA
                        </a>
                      </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <!-- Modal form -->
    <div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="jobModalLabel"> <b> Sélectionner votre métier </b>  </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control mb-3" id="jobSearch" placeholder="Rechercher votre métier...">
              <ul id="jobList"></ul>

              <div id="loadMore" class="text-center mt-3" style="display: none;">
                <button class="btn btn-primary btn-sm">Charger plus</button>
              </div>
            </div>
          </div>
        </div>
    </div>
      <!-- Loading -->
    <div class="loading-overlay" id="loadingOverlay">
        <div class="custom-spinner">
          <div class="custom-spinner-circle"></div>
          <div class="custom-spinner-square"></div>
        </div>
    </div>

    <!-- Modal Faq -->
  <div class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="faqModalLabel"> <b style="color:#0A21C0"> FAQ ?  </b>  </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <h5>Comment se fait la recommandation ?</h5>
        
            <div>
              <b style="color:#0A21C0">Zoodo IA</b> analyse attentivement la liste des ordinateurs de <b style="color:#0A21C0">Zoodo Computer</b> et vous recommande des ordinateurs de qualité 
              qui correspondent au mieux à votre activité et aux tâches que vous souhaitez réaliser en fonction de votre <b>budget</b>.
        
              <br><br>
              Les caractéristiques analysées sont par exemple :
        
              <ul>
                <li>La capacité de la mémoire RAM</li>
                <li>La capacité du disque de stockage</li>
                <li>La nature du disque (SSD, HDD, ...)</li>
                <li>Les performances du processeur (nombre de cœurs, vitesse, ...)</li>
                <li>La durée de vie de la batterie</li>
                <li>La carte graphique</li>
                <li>Les ports de connectivité</li>
                <li>...</li>
              </ul>
        
              <h5>Comment remplir le formulaire ?</h5>
              <div>
                Vous devez renseigner <b>votre budget, votre activité et une marge de tolérance</b> sur votre budget.
                <br><br>
        
                <ul>
                  <li>
                    La marge de tolérance indique le coût maximum que vous accepteriez. Cela permet d'accroître vos chances de trouver un ordinateur.
                  </li>
                </ul>
              </div>
        
              <h5>Comment obtenir de bons résultats ?</h5>
              <div>
                Pour obtenir de bons résultats, vous devez <b>bien décrire votre activité :</b>
                <br><br>
        
                <ul>
                  <li>Choisir l'activité dans la liste ou cliquer sur <b>Autre</b> pour saisir votre activité</li>
        
                  <li>
                    Décrivez brièvement votre activité dans <b>Usage de l'ordinateur</b>. Insistez surtout sur les logiciels que vous utiliserez et qui sont importants (informez-vous si nécessaire).
                  </li>
                </ul>
              </div>
        
              <br>
                <h5>Comment se faire rembourser ?</h5>

                <div>
                    En cas d'insatisfaction, vous avez la possibilité de vous faire rembourser et de retourner l'ordinateur si la raison est valable.
                </div>
                <br> <br>
              <h6><u style="color: #0A21C0;">NB:</u> Au cas où aucun ordinateur n'a été trouvé, si la recommandation ne vous convient pas ou si une erreur s'est produite, n'hésitez pas à réessayer.</h6>
            </div>
        </div>
        
        </div>
      </div>
  </div>
    <!-- Footer -->
    {% endblock bodyContent %}

{% block JsContent %}
    <!-- JScontent -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Collect submit data -->
    <script >
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('recommendationForm');
        const submitBtn = document.getElementById('submitBtn');
        const jobInput = document.getElementById('jobInput');
        const loadingOverlay = document.getElementById('loadingOverlay');

        function getCheckedRadioValue() {
            const checkedRadio = document.querySelector('input[name="inlineRadioOptions"]:checked');
            return checkedRadio ? checkedRadio.value : null;
        }

        function getCsrfToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        function bdQuery_2(formData, url) {
            const form = document.createElement('form');
            const formRec = document.getElementById('recommendationForm');
            form.method = 'POST';
            form.action = url;
            loadingOverlay.style.display = 'flex';

            const csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = 'csrfmiddlewaretoken';
            csrfInput.value = getCsrfToken();
            form.appendChild(csrfInput);

            for (const key in formData) {
                if (formData.hasOwnProperty(key)) {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = key;
                    input.value = formData[key];
                    form.appendChild(input);
                }
            }

            document.body.appendChild(form);
            setTimeout(function() {
                loadingOverlay.style.display = 'none';
            }, 10000);

            form.submit();
            formRec.reset();
            submitBtn.disabled = True;
            document.body.removeChild(form);

        }

        /**
         * Valide le formulaire et renvoie un booléen indiquant si le formulaire est valide.
         * Si le formulaire est valide, le bouton de soumission est activé, sinon il est désactivé.
         * @returns {boolean} - True si le formulaire est valide, false sinon.
         */
        function validateForm() {
            let isValid = true;
            
            // Validate minBudget
            const min_value = "{{minBudget}}";
            const max_value = "{{maxBudget}}";
            
            const minBudget = parseFloat(document.getElementById('minBudget').value);
            if (isNaN(minBudget) || minBudget < min_value) {
                showError('minBudget', 'Le budget minimum doit être au moins ' + min_value +  ' FCFA');
                isValid = false;
            } else {
                clearError('minBudget');
            }

            // Validate maxBudget
            const maxBudget = parseFloat(document.getElementById('maxBudget').value);
            if (isNaN(maxBudget) || maxBudget > max_value) {
                showError('maxBudget', 'Le budget maximum doit être inférieur  à ' + max_value + 'FCFA');
                isValid = false;
            } else if (maxBudget <= minBudget) {
                showError('maxBudget', 'Le budget maximum doit être supérieur au budget minimum');
                isValid = false;
            } else {
                clearError('maxBudget');
            }

            // Validate jobInput
            const jobInputValue = jobInput.value.trim();
            if (jobInputValue === '') {
                showError('jobInput', "Veuillez sélectionner un domaine d'activité ");
                isValid = false;
            } else {
                clearError('jobInput');
            }

            // Validate accept checkbox
            const acceptCheckbox = document.getElementById('accept');
            if (!acceptCheckbox.checked) {
                showError('accept', 'Veuillez accepter les conditions');
                isValid = false;
            } else {
                clearError('accept');
            }

            submitBtn.disabled = !isValid;
            return isValid;
        }

        /**
         * Show an error message associated with a form field.
         * @param {string} fieldId The id of the form field with which the error is associated.
         * @param {string} message The error message to display.
         */
        function showError(fieldId, message) {
            const field = document.getElementById(fieldId);
            let errorDiv = field.parentNode.querySelector('.error-message');
            if (!errorDiv) {
                errorDiv = document.createElement('div');
                errorDiv.className = 'error-message';
                errorDiv.style.color = 'red';
                errorDiv.style.fontSize = '0.8em';
                errorDiv.style.marginTop = '5px';
                field.parentNode.insertBefore(errorDiv, field);
            }
            errorDiv.textContent = message;
        }

        /**
         * Removes the error message from the given field.
         * Supprimer les msg d'erreurs
         */
        function clearError(fieldId) {
            const field = document.getElementById(fieldId);
            const errorDiv = field.parentNode.querySelector('.error-message');
            if (errorDiv) {
                errorDiv.remove();
            }
        }

        // Recuperation des données du formulaire
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (validateForm()) {
                const url = "{% url 'main:withai_submit' %}"; 
                // donnee metier
                let job = "";
                if(jobInput.value === "Autre") job = document.getElementById("jobInputSub").value;
                else job = jobInput.value;

                const formData = {
                    "budgetMin": document.getElementById('minBudget').value,
                    "budgetMax": document.getElementById('maxBudget').value,
                    "alpha": getCheckedRadioValue(),
                    "jobTile": job, //
                    "jobDescription": document.getElementById('jobDescription').value
                };
                //console.log(formData)
                bdQuery_2(formData, url);
            }
        });

        /**
         * Mise a jour de la valeur du prix maximal qui sera utilise pour la recommandation
         * en fonction du prix maximal que l'utilisateur est pret a payer et de la marge
         * de tolerance qu'il a renseignee.
         */
        function updateMaxPrice(){
            const maxBudget = parseFloat(document.getElementById('maxBudget').value) || 0;
            const alpha = parseFloat(getCheckedRadioValue()) / 100 || 0;
            const maxPrice = maxBudget * (1 + alpha);
            document.getElementById('calculatedPrice').value = maxPrice.toFixed(2) + ' FCFA';
      }

        document.getElementById('maxBudget').addEventListener('input', updateMaxPrice);

        document.querySelectorAll('input[name="inlineRadioOptions"]').forEach(radio => {
            radio.addEventListener('change', updateMaxPrice);
        });

        // Description acti nbre de mot < 250
        document.getElementById('jobDescription').addEventListener('input', function() {
            const words = this.value.trim().split(/\s+/);
            if (words.length > 250) {
                this.value = words.slice(0, 250).join(' ');
            }
        });

        // Add event listeners for real-time validation
        ['minBudget', 'maxBudget', 'accept'].forEach(fieldId => {
            document.getElementById(fieldId).addEventListener('input', validateForm);
        });

        // Special handling for jobInput
        jobInput.addEventListener('change', function() {
            clearError('jobInput');
            validateForm();
        });

        // Use MutationObserver to watch for changes in jobInput's value
        const observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.type === "attributes" && mutation.attributeName === "value") {
                    clearError('jobInput');
                    validateForm();
                }
            });
        });

        observer.observe(jobInput, { attributes: true });

        // Initial validation
        validateForm();

        //Icon d'information sur les champs
        const infoIcon = document.querySelector('.info-icon');
        const tooltip = infoIcon.querySelector('.tooltip');

        infoIcon.addEventListener('touchstart', (e) => {
            e.preventDefault();
            tooltip.style.visibility = 'visible';
            tooltip.style.opacity = '1';
        });

        infoIcon.addEventListener('touchend', () => {
            tooltip.style.visibility = 'hidden';
            tooltip.style.opacity = '0';
        });
      });
    </script>

    <!-- Model joblist -->
    <script>
        // {"list": [""]}
        let jobs =JSON.parse('{{ jobs|safe|escapejs }}');
        jobs = jobs.list
        
        let currentIndex = 0;
        const itemsPerLoad = 15;
        
        // contenu du modal metier
        function loadMoreJobs() {
          const jobList = document.getElementById('jobList');
          const endIndex = Math.min(currentIndex + itemsPerLoad, jobs.length);
          
          for (let i = currentIndex; i < endIndex; i++) {
              const li = document.createElement('li');
              li.textContent = jobs[i];

              // Remplissage du formulaire metier après selection 
              li.onclick = function() {
                document.getElementById('jobInput').value = this.textContent;
                $('#jobModal').modal('hide');

                  // creation d'un nouvelle input pour renseigner le metier
                  const jobListDiv = document.querySelector("#job-list-div");
                  if(this.textContent === "Autre"){
                    // creer l'input a add
                    const fieldInput = document.createElement('Input');
                    fieldInput.type="text"
                    fieldInput.className="form-control" 
                    fieldInput.id="jobInputSub"
                    fieldInput.name = "jobInputSub"
                    fieldInput.placeholder = "Entrer votre metier"
                    fieldInput.style.marginTop="10px"
                    fieldInput.focus()
                    fieldInput.required = true;
                    // l'ajouter Input
                    jobListDiv.appendChild(fieldInput)

                  }else{ // valeur choisie pas autre: pas afficher l'input
                    if(document.getElementById("jobInputSub")){
                      jobListDiv.removeChild(document.getElementById("jobInputSub"))
                    }
                  }
              };
              jobList.appendChild(li);
          }
          
          currentIndex = endIndex;
          
          if (currentIndex >= jobs.length) {
              document.getElementById('loadMore').style.display = 'none';
          } else {
              document.getElementById('loadMore').style.display = 'block';
          }
        }
        
        document.getElementById('loadMore').querySelector('button').addEventListener('click', loadMoreJobs);
        
        document.getElementById('jobSearch').addEventListener('input', function() {

        const searchTerm = this.value.toLowerCase();
        const jobList = document.getElementById('jobList');
        jobList.innerHTML = '';
        
        const filteredJobs = jobs.filter(job => job.toLowerCase().includes(searchTerm));
        filteredJobs.forEach(job => {
            const li = document.createElement('li');
            li.textContent = job;

            // renseigner la valeur du metier dans son modal au choix d'un métier
            li.onclick = function() {
              document.getElementById('jobInput').value = this.textContent;
                
              $('#jobModal').modal('hide');
            };
            jobList.appendChild(li);
        });
        
        document.getElementById('loadMore').style.display = 'none';
        });
        
        $('#jobModal').on('shown.bs.modal', function () {
          document.getElementById('jobList').innerHTML = '';
          currentIndex = 0;
          loadMoreJobs();
        });
        

        // description de l'activité
        function checkWordLimit(textarea) {
          const maxWords = 250;
          const words = textarea.value.trim().split(/\s+/); // Split by whitespace
          if (words.length > maxWords) {
              alert(`Vous ne pouvez pas dépasser ${maxWords} mots.`);
              textarea.value = words.slice(0, maxWords).join(' '); // Trim to max words
          }
        }
    </script>

    <!-- Accept condtion -->
  <script>
      function submitConditionForm() {
          const checkbox = document.getElementById('accept');
          if (checkbox.checked) {
              alert('Form submitted successfully!');
          } else {
              alert('Please accept the terms and conditions before submitting.');
          }
      }
  </script>

  <!-- FaqModel -->
  <script>
    // Button
    const model_faq = document.getElementById('#faqButton'); 

    // CLick open model
    model_faq.addEventListener("click", ()=>{
        $('#faqModal').modal('show');
    })
  </script>
{% endblock JsContent %}