{% extends '__frames/main.html' %}
{% load static %}
{% load i18n %}

{% block headLinks %}

<!-- CssContent -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet"  type="text/css" href="{% static 'style/loading-page.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static 'style/promotion-bar.css' %}">
<link rel="stylesheet"  type="text/css" href="{% static 'style/recommendation_form_ai-page.css' %}">
<script src="{% static 'js/loading-page.js' %}" ></script>

{% endblock headLinks %}

{% block bodyContent %}

{% include 'loading-page.html' %}
{% include 'promotion-bar.html' %}
  <!-- Header  -->
  {% include 'header.html' %}
    <!-- Form container -->
    <div class="container" style="background-color: #b3b4bd15; min-height:600px; margin-bottom: 10px;">
        <div class="row justify-content-center mb-3" id="row-content-main">
            <div class="col-lg-10 form-section" style="border:1px solid #14161967">
                <h4 class="text-center mb-4 pt-5 " id="form_ai_title">
                  <b>Commander l'ordinateur parfait avec  Zoodo IA <i class="fa-solid fa-robot"></i></b>
                </h4>

              <h4 style="text-align: center; display: flex; justify-content: center; align-items: center;" >
                  <button class="btn"  id="faqButton" data-bs-toggle="modal" data-bs-target="#faqModal">CLIQUER ICI POUR DEMARRER</button>
              </h4>

                <!-- Form -->
                <form id="recommendationForm" >
                    {% csrf_token %}
                    <!-- <h5 style="text-align:center"> <span class="badge bg-warning text-dark">1/1</span> </h5> -->
                    <i style="font-size: 11px;">* obligatoire</i>
                    <!-- Budget -->
                    <div class="mb-3">
                      <label for="minBudget" class="form-label dis-lg-screen-label">
                        <strong style="color:#050A44;font-size: 18px;"> Budget (FCFA) <b style="color:red">*</b></strong>
                        <strong class="message-info"  data-bs-target="faqModal-cest-ceque-est" aria-label="le budget">
                        Qu'est ce que c'est ?  <span style="font-size:12px">  (cliquer) </span> </strong>
                    </label>
                        
                        <div class="row g-2">
                            <div class="col-12 col-md-6">
                                <input type="number" name="minBudget" class="form-control" id="minBudget" placeholder="Budget Minimum" min="{{minBudget}}" max="{{maxBudget}}" value="" required>
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="number" name="maxBudget" class="form-control" id="maxBudget" placeholder="Budget Maximum" min="{{minBudget}}"  max="{{maxBudget}}"  required>
                            </div>
                        </div>

                        <button type="button" data-bs-target="faqModal-cest-ceque-est" 
                        class="btn btn-info-label" aria-label="le budget" id="btn-budget-info">
                            Qu'est ce que c'est ?
                        </button>
                    </div>
                    <!-- Activité -->
                    <div class="mb-3" id="job-list-div">
                      <label class="form-label dis-lg-screen-label" >
                        <strong style="color:#050A44;font-size: 18px;">Secteur d'activité <b style="color:red">*</b></strong>
                        <strong class="message-info" data-bs-target="faqModal-cest-ceque-est" aria-label="le secteur d'activité">
                            Qu'est ce que c'est ?  <span style="font-size:12px">  (cliquer) </span> </strong>
                      </label>
                      
                        <input type="text" class="form-control" id="jobInput" placeholder="Aucune sélection"
                         data-bs-toggle="modal" data-bs-target="#jobModal" readonly required>

                        <button type="button" data-bs-target="faqModal-cest-ceque-est" 
                        class="btn btn-info-label" aria-label="le secteur d'activité" id="btn-job-info">
                            Qu'est ce que c'est ?
                        </button>

                    </div>
                    <!-- Description activite -->
                    <div class="mb-3">
                      <label for="jobDescription" class="form-label dis-lg-screen-label" >
                        <strong style="color:#050A44;font-size: 18px;">Usage de l'ordinateur <i style="font-size: 11px;">(max.250 Mots)</i> </strong>
                        <strong class="message-info" data-bs-target="faqModal-cest-ceque-est" aria-label="l'usage de l'ordinateur">
                            Qu'est ce que c'est ?  <span style="font-size:12px">  (cliquer) </span> </strong>
                      </label>

                        <textarea class="form-control" id="jobDescription"
                         placeholder="Par exemple: j'utilise des logiciels comme autoCard, photoshop, android studio, etc.." oninput="checkWordLimit(this)" style="min-height: 100px;"></textarea>

                        <button type="button" data-bs-target="faqModal-cest-ceque-est" 
                        class="btn btn-info-label" aria-label="l'usage de l'ordinateur" id="btn-job-description-info">
                            Qu'est ce que c'est ?
                        </button>
                    </div>

                      <!-- Marge de tolerence -->
                    <div class="mb-3">
                      <label  class="form-label dis-lg-screen-label">
                        <strong>Marge <b style="color:red">*</b></strong>
                        <strong class="message-info" data-bs-target="faqModal-cest-ceque-est" aria-label="la marge">
                            Qu'est ce que c'est ?  <span style="font-size:12px">  (cliquer) </span> </strong>
                      </label>
                        <div class="d-flex flex-wrap">
                            {% for tolerance in tolerances %}
                            <div class="form-check" style="flex: 0 0 25%; min-width: 200px;">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radio-{{ tolerance }}" value="{{ tolerance }}" {% if forloop.first %}checked{% endif %}>
                                <label class="form-check-label" for="radio-{{ tolerance }}">
                                    {{ tolerance }}%
                                </label>
                            </div>
                            {% endfor %}
                            <button type="button"  data-bs-target="faqModal-cest-ceque-est" 
                            class="btn btn-info-label" aria-label="la marge" >Qu'est ce que c'est ?</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="calculatedPrice" class="form-label">
                            <strong style="font-size: 18px;">Prix maximal calculé</strong>
                        </label>
                        <textarea class="form-control" id="calculatedPrice" style="max-height: 50px;" disabled>0 FCFA</textarea>
                    </div>
                  <!-- condition d'utilisation -->
                    <div class="mb-3">
                        <div class="checkbox-container">
                          <label for="accept" >
                            <input type="checkbox" id="accept" name="accept" required>
                            J'ai lu et j'accepte les conditions et les politiques d'utilisation
                          </label>
                        </div>
                    </div>
                    <!-- Soumission -->
                    <div class="d-flex justify-content-center pb-5" style="flex-direction: column;">
                      <button type="submit" class="btn btn-success" id="submitBtn" 
                          style="background-color: #0A21C0 ;" disabled>
                          Lancer la recherche
                      </button>

                      <div class="mt-3 text-center ">
                        <a href="{% url 'main:order-without-ai' %}" class="btn "
                         style="background-color:#050A44; color:#fff; width: 100%;" >
                          Rechercher sans l'IA
                        </a>
                      </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

    <!-- Modal form -->
    <div class="modal fade" id="jobModal" tabindex="-1" aria-labelledby="jobModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="jobModalLabel"> <b> Sélectionner votre métier </b>  </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <input type="text" class="form-control mb-3" id="jobSearch" placeholder="Rechercher votre métier...">
              <ul id="jobList"></ul>

              <div id="loadMore" class="text-center mt-3" style="display: none;">
                <button class="btn btn-primary btn-sm">Charger plus</button>
              </div>
            </div>
          </div>
        </div>
    </div>
      <!-- Loading -->
    <div class="loading-overlay" id="loadingOverlay">
        <div class="custom-spinner">
          <div class="custom-spinner-circle"></div>
          <div class="custom-spinner-square"></div>
        </div>
    </div>

    <!-- Modal Faq -->
  <div class="modal fade" id="faqModal" tabindex="-1" aria-labelledby="faqModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="faqModalLabel"> <b style="color:#0A21C0"> FAQ ?  </b>  </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="font-family:Arial, Helvetica, sans-serif; font-weight: bold;
             text-align: justify;">
            <h5>Comment se fait la recommandation ?</h5>
        
            <div>
              <b style="color:#0A21C0">Zoodo IA</b> analyse attentivement la liste des ordinateurs de <b style="color:#0A21C0">Zoodo Computer</b> et vous recommande des ordinateurs de qualité 
              qui correspondent au mieux à votre activité et aux tâches que vous souhaitez réaliser en fonction de votre <b>budget</b>.
        
              <br><br>
              Les caractéristiques analysées sont par exemple :
        
              <ul>
                <li>La capacité de la mémoire RAM</li>
                <li>La capacité du disque de stockage</li>
                <li>La nature du disque (SSD, HDD, ...)</li>
                <li>Les performances du processeur (nombre de cœurs, vitesse, ...)</li>
                <li>La durée de vie de la batterie</li>
                <li>La carte graphique</li>
                <li>Les ports de connectivité</li>
                <li>...</li>
              </ul>
        
              <h5>Comment remplir le formulaire ?</h5>
              <div>
                Vous devez renseigner <b>votre budget, votre activité et une marge de tolérance</b> sur votre budget.
                <br><br>
        
                <ul>
                  <li>
                    La marge de tolérance indique le coût maximum que vous accepteriez. Cela permet d'accroître vos chances de trouver un ordinateur.
                  </li>
                </ul>
              </div>
        
              <h5>Comment obtenir de bons résultats ?</h5>
              <div>
                Pour obtenir de bons résultats, vous devez <b>bien décrire votre activité :</b>
                <br><br>
        
                <ul>
                  <li>Choisir l'activité dans la liste ou cliquer sur <b>Autre</b> pour saisir votre activité</li>
        
                  <li>
                    Décrivez brièvement votre activité dans <b>Usage de l'ordinateur</b>. Insistez surtout sur les logiciels que vous utiliserez et qui sont importants (informez-vous si nécessaire).
                  </li>
                </ul>
              </div>
        
              <br>
                <h5>Comment se faire rembourser ?</h5>

                <div>
                    En cas d'insatisfaction, vous avez la possibilité de vous faire rembourser et de retourner l'ordinateur si la raison est valable.
                </div>
                <br> 
                <h5>Seconde methode de recherche</h5>
                <div>
                  Le bouton <b>Rechercher sans l'IA</b> 
                  au bas du formulaire vous permet également d'obtenir des 
                  recommandations d'ordinateurs performants sans utiliser l'IA.
                </div>
                <br> <br>
              <h6><u style="color: #0A21C0;">NB:</u> Au cas où aucun ordinateur n'a été trouvé, si la recommandation ne vous convient pas ou si une erreur s'est produite, n'hésitez pas à réessayer.</h6>
            </div>
        </div>
        
        </div>
      </div>
  </div>

    <!-- Modal Faq  Quest ce c'est -->
    <div class="modal fade" id="faqModal-cest-ceque-est" tabindex="-1" aria-labelledby="faqModal-cest-ceque-estLabel" aria-hidden="true">

      <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content" style="font-family:Arial, Helvetica, sans-serif">
          <div class="modal-header">
          <h5 class="modal-title"> <b style="color:#0A21C0"> FAQ ?  </b>  </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
              <h5 id="faqModal-cest-ceque-est-title"></h5>
          
              <div id="faqModal-cest-ceque-est-content">
                  
              </div>
          </div>
      </div>
      </div>
  </div>
    <!-- Footer -->
    {% endblock bodyContent %}

{% block JsContent %}
    <!-- JScontent -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Collect submit data -->
    <script >
      document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('recommendationForm');
        const submitBtn = document.getElementById('submitBtn');
        const jobInput = document.getElementById('jobInput');
        const loadingOverlay = document.getElementById('loadingOverlay');

        function getCheckedRadioValue() {
            const checkedRadio = document.querySelector('input[name="inlineRadioOptions"]:checked');
            return checkedRadio ? checkedRadio.value : null;
        }

        function getCsrfToken() {
            return document.querySelector('[name=csrfmiddlewaretoken]').value;
        }

        function bdQuery_2(formData, url) {
            const form = document.createElement('form');
            const formRec = document.getElementById('recommendationForm');
            form.method = 'POST';
            form.action = url;
            loadingOverlay.style.display = 'flex';

            const csrfInput = document.createElement('input');
            csrfInput.type = 'hidden';
            csrfInput.name = 'csrfmiddlewaretoken';
            csrfInput.value = getCsrfToken();
            form.appendChild(csrfInput);

            for (const key in formData) {
                if (formData.hasOwnProperty(key)) {
                    const input = document.createElement('input');
                    input.type = 'hidden';
                    input.name = key;
                    input.value = formData[key];
                    form.appendChild(input);
                }
            }

            document.body.appendChild(form);
            setTimeout(function() {
                loadingOverlay.style.display = 'none';
            }, 10000);

            form.submit();
            formRec.reset();
            submitBtn.disabled = True;
            document.body.removeChild(form);

        }

        /**
         * Valide le formulaire et renvoie un booléen indiquant si le formulaire est valide.
         * Si le formulaire est valide, le bouton de soumission est activé, sinon il est désactivé.
         * @returns {boolean} - True si le formulaire est valide, false sinon.
         */
        function validateForm() {
            let isValid = true;
            
            // Validate minBudget
            const min_value = "{{minBudget}}";
            const max_value = "{{maxBudget}}";
            
            const minBudget = parseFloat(document.getElementById('minBudget').value);
            if (isNaN(minBudget) || minBudget < min_value) {
                showError('minBudget', 'Le budget minimum doit être au moins ' + min_value +  ' FCFA');
                isValid = false;
            } else {
                clearError('minBudget');
            }

            // Validate maxBudget
            const maxBudget = parseFloat(document.getElementById('maxBudget').value);
            if (isNaN(maxBudget) || maxBudget > max_value) {
                showError('maxBudget', 'Le budget maximum ne doit pas exéder ' + max_value + 'FCFA');
                isValid = false;
            } else if (maxBudget <= minBudget) {
                showError('maxBudget', 'Le budget maximum doit être supérieur au budget minimum');
                isValid = false;
            } else {
                clearError('maxBudget');
            }

            // Validate jobInput
            const jobInputValue = jobInput.value.trim();
            if (jobInputValue === '') {
                showError('jobInput', "Veuillez sélectionner un domaine d'activité ");
                isValid = false;
            } else {
                clearError('jobInput');
            }

            // Validate accept checkbox
            const acceptCheckbox = document.getElementById('accept');
            if (!acceptCheckbox.checked) {
                showError('accept', 'Veuillez accepter les conditions');
                isValid = false;
            } else {
                clearError('accept');
            }

            submitBtn.disabled = !isValid;
            return isValid;
        }

        /**
         * Show an error message associated with a form field.
         * @param {string} fieldId The id of the form field with which the error is associated.
         * @param {string} message The error message to display.
         */
        function showError(fieldId, message) {
            const field = document.getElementById(fieldId);
            let errorDiv = field.parentNode.querySelector('.error-message');
            if (!errorDiv) {
                errorDiv = document.createElement('div');
                errorDiv.className = 'error-message';
                errorDiv.style.color = 'red';
                errorDiv.style.fontSize = '0.8em';
                errorDiv.style.marginTop = '5px';
                field.parentNode.insertBefore(errorDiv, field);
            }
            errorDiv.textContent = message;
        }

        /**
         * Removes the error message from the given field.
         * Supprimer les msg d'erreurs
         */
        function clearError(fieldId) {
            const field = document.getElementById(fieldId);
            const errorDiv = field.parentNode.querySelector('.error-message');
            if (errorDiv) {
                errorDiv.remove();
            }
        }

        // Recuperation des données du formulaire
        form.addEventListener('submit', function(e) {
            e.preventDefault();
            if (validateForm()) {
                const url = "{% url 'main:withai_submit' %}"; 
                // donnee metier
                let job = "";
                if(jobInput.value === "Autre") job = document.getElementById("jobInputSub").value;
                else job = jobInput.value;

                const formData = {
                    "budgetMin": document.getElementById('minBudget').value,
                    "budgetMax": document.getElementById('maxBudget').value,
                    "alpha": getCheckedRadioValue(),
                    "jobTile": job, //
                    "jobDescription": document.getElementById('jobDescription').value
                };
                //console.log(formData)
                bdQuery_2(formData, url);
            }
        });

        /**
         * Mise a jour de la valeur du prix maximal qui sera utilise pour la recommandation
         * en fonction du prix maximal que l'utilisateur est pret a payer et de la marge
         * de tolerance qu'il a renseignee.
         */
        function updateMaxPrice(){
            const maxBudget = parseFloat(document.getElementById('maxBudget').value) || 0;
            const alpha = parseFloat(getCheckedRadioValue()) / 100 || 0;
            const maxPrice = maxBudget * (1 + alpha);
            document.getElementById('calculatedPrice').value = maxPrice.toFixed(2) + ' FCFA';
      }

        document.getElementById('maxBudget').addEventListener('input', updateMaxPrice);

        document.querySelectorAll('input[name="inlineRadioOptions"]').forEach(radio => {
            radio.addEventListener('change', updateMaxPrice);
        });

        // Description acti nbre de mot < 250
        document.getElementById('jobDescription').addEventListener('input', function() {
            const words = this.value.trim().split(/\s+/);
            if (words.length > 250) {
                this.value = words.slice(0, 250).join(' ');
            }
        });

        // Add event listeners for real-time validation
        ['minBudget', 'maxBudget', 'accept'].forEach(fieldId => {
            document.getElementById(fieldId).addEventListener('input', validateForm);
        });

        // Special handling for jobInput
        jobInput.addEventListener('change', function() {
            clearError('jobInput');
            validateForm();
        });

        // Use MutationObserver to watch for changes in jobInput's value
        const observer = new MutationObserver(function(mutations) {
            mutations.forEach(function(mutation) {
                if (mutation.type === "attributes" && mutation.attributeName === "value") {
                    clearError('jobInput');
                    validateForm();
                }
            });
        });

        observer.observe(jobInput, { attributes: true });

        // Initial validation
        validateForm();

        //Icon d'information sur les champs
        const infoIcon = document.querySelector('.info-icon');
        const tooltip = infoIcon.querySelector('.tooltip');

        infoIcon.addEventListener('touchstart', (e) => {
            e.preventDefault();
            tooltip.style.visibility = 'visible';
            tooltip.style.opacity = '1';
        });

        infoIcon.addEventListener('touchend', () => {
            tooltip.style.visibility = 'hidden';
            tooltip.style.opacity = '0';
        });
      });
    </script>

    <!-- Model joblist -->
    <script>
        // {"list": [""]}
        let jobs =JSON.parse('{{ jobs|safe|escapejs }}');
        jobs = jobs.list
        
        let currentIndex = 0;
        const itemsPerLoad = 15;
        
        // contenu du modal metier
        function loadMoreJobs() {
          const jobList = document.getElementById('jobList');
          const endIndex = Math.min(currentIndex + itemsPerLoad, jobs.length);
          
          for (let i = currentIndex; i < endIndex; i++) {
              const li = document.createElement('li');
              li.textContent = jobs[i];

              // Remplissage du formulaire metier après selection 
              li.onclick = function() {
                document.getElementById('jobInput').value = this.textContent;
                $('#jobModal').modal('hide');

                  // creation d'un nouvelle input pour renseigner le metier
                  const jobListDiv = document.querySelector("#job-list-div");
                  if(this.textContent === "Autre"){
                    // creer l'input a add
                    const fieldInput = document.createElement('Input');
                    fieldInput.type="text"
                    fieldInput.className="form-control" 
                    fieldInput.id="jobInputSub"
                    fieldInput.name = "jobInputSub"
                    fieldInput.placeholder = "Entrer votre metier"
                    fieldInput.style.marginTop="10px"
                    fieldInput.focus()
                    fieldInput.required = true;
                    // l'ajouter Input
                    jobListDiv.appendChild(fieldInput)

                  }else{ // valeur choisie pas autre: pas afficher l'input
                    if(document.getElementById("jobInputSub")){
                      jobListDiv.removeChild(document.getElementById("jobInputSub"))
                    }
                  }
              };
              jobList.appendChild(li);
          }
          
          currentIndex = endIndex;
          
          if (currentIndex >= jobs.length) {
              document.getElementById('loadMore').style.display = 'none';
          } else {
              document.getElementById('loadMore').style.display = 'block';
          }
        }
        
        document.getElementById('loadMore').querySelector('button').addEventListener('click', loadMoreJobs);
        
        document.getElementById('jobSearch').addEventListener('input', function() {

        const searchTerm = this.value.toLowerCase();
        const jobList = document.getElementById('jobList');
        jobList.innerHTML = '';
        
        const filteredJobs = jobs.filter(job => job.toLowerCase().includes(searchTerm));
        filteredJobs.forEach(job => {
            const li = document.createElement('li');
            li.textContent = job;

            // renseigner la valeur du metier dans son modal au choix d'un métier
            li.onclick = function() {
              document.getElementById('jobInput').value = this.textContent;
                
              $('#jobModal').modal('hide');
            };
            jobList.appendChild(li);
        });
        
        document.getElementById('loadMore').style.display = 'none';
        });
        
        $('#jobModal').on('shown.bs.modal', function () {
          document.getElementById('jobList').innerHTML = '';
          currentIndex = 0;
          loadMoreJobs();
        });
        

        // description de l'activité
        function checkWordLimit(textarea) {
          const maxWords = 250;
          const words = textarea.value.trim().split(/\s+/); // Split by whitespace
          if (words.length > maxWords) {
              alert(`Vous ne pouvez pas dépasser ${maxWords} mots.`);
              textarea.value = words.slice(0, maxWords).join(' '); // Trim to max words
          }
        }
    </script>

    <!-- Accept condtion -->
  <script>
      function submitConditionForm() {
          const checkbox = document.getElementById('accept');
          if (checkbox.checked) {
              alert('Form submitted successfully!');
          } else {
              alert('Please accept the terms and conditions before submitting.');
          }
      }
  </script>

  <!-- FaqModel -->
  <script>
    // Button
    const model_faq = document.getElementById('faqButton'); 

    // CLick open model
    model_faq.addEventListener("click", ()=>{
        $('#faqModal').modal('show');
    })

    
    // Modal qu'est ce qu'est
    const modal_cest_quoi_btn = document.querySelectorAll(".btn-info-label");
    const modal_cest_quoi_strong = document.querySelectorAll(".message-info");

        // when clic on btn
    modal_cest_quoi_btn.forEach((element)=>{
        element.addEventListener("click", ()=>{
            const who_is_click = element.ariaLabel;
            displayFaqItems(who_is_click)
            $('#faqModal-cest-ceque-est').modal('show');
        })
    });
        // when clic on strong
    modal_cest_quoi_strong.forEach((element)=>{
        element.addEventListener("click", ()=>{
            const who_is_click = element.ariaLabel;
            displayFaqItems(who_is_click)
            $('#faqModal-cest-ceque-est').modal('show');
            
        })
    });
        // Functions of data in modal qu'est ce qu'est
    function displayFaqItems(item){
        const formulate_title = "Que designe " + item + " ?";
        const title = document.querySelector("#faqModal-cest-ceque-est-title");
        const modal_content = document.querySelector("#faqModal-cest-ceque-est-content");

        switch(item){
            case "le secteur d'activité":
                title.textContent = formulate_title;
                modal_content.innerHTML = `<p style="text-align: justify; font-weight: bold">
                    Pour affiner nos recommandations, nous vous demandons de sélectionner votre 
                    secteur d'activité dans une liste proposée. Cette sélection nous aide à cibler 
                    les performances et caractéristiques les plus adaptées à vos besoins professionnels. La liste inclut plusieurs secteurs mais 
                    pas exhaustive.

                    </p>
                    <p style="text-align: justify; font-weight: bold">
                       Un bouton « Voir Plus » vous permet de dérouler des secteurs 
                       supplémentaires si votre domaine n'est pas visible dans les premières options.
                        Si votre activité n'est pas représentée,
                        une option « Autre » est également disponible pour que vous
                         puissiez saisir votre activité spécifique.
                    </p>
                    <p style="text-align: justify; font-weight: bold">
                       Il est essentiel de choisir le secteur qui correspond
                        le mieux à votre métier pour obtenir des recommandations précises et adaptées.
                         Cela garantit que les ordinateurs proposés répondent aux exigences de votre domaine.
                          N'hésitez pas à vous renseigner
                        ou à demander des précisions sur les termes utilisés pour faire le choix le plus pertinent.
                    </p>`;
                break;

            case "l'usage de l'ordinateur":
                title.textContent = formulate_title;
                modal_content.innerHTML = `<p style="text-align: justify; font-weight: bold">
                  Cette section vous permet de détailler l'utilisation que vous ferez de l'ordinateur,
                  en précisant les tâches spécifiques et les logiciels principaux dont vous aurez besoin.
                    Vous disposez d’un espace de 250 mots pour expliquer comment vous utiliserez
                    l'ordinateur dans votre activité.
                    </p>
                    <p style="text-align: justify; font-weight: bold">
                    Conseils pour un Bon Résultat : Pour obtenir une recommandation précise,
                     il est important d'indiquer les logiciels essentiels dans votre domaine
                      ou ceux qui vous sont particulièrement utiles (par exemple, des logiciels 
                      de design graphique, de modélisation 3D, de programmation, etc.).
                       Fournir des détails supplémentaires sur votre métier et les tâches 
                       principales vous aidera à recevoir des propositions 
                    d'ordinateurs aux performances optimales pour vos besoins.
                    </p>
                     <p style="text-align: justify; font-weight: bold">
                    Cette information nous aide à comprendre vos besoins en détail et à
                     recommander des ordinateurs adaptés aux applications et charges de travail
                      spécifiques de votre activité. Plus vous serez précis sur vos exigences, plus
                       nous pourrons affiner les options 
                    et garantir que les ordinateurs proposés répondront pleinement à vos attentes.
                    </p>
                    `
                    
                break;

            case "la marge":
                title.textContent = formulate_title;
                modal_content.innerHTML = `<p style="text-align: justify; font-weight: bold">
                    En fonction du budget maximal que vous entrez, nous appliquons une marge de
                     tolérance pouvant être de 50 %, 60 %,  80 % ou 100 % au-dessus de ce budget.
                      Cela permet d'élargir les options d'ordinateurs proposés, incluant ceux qui dépassent
                     légèrement votre budget initial tout en restant dans une limite raisonnable.
                    </p>
                   <p style="text-align: justify; font-weight: bold">
                    Cette marge de tolérance est conçue pour vous offrir davantage de 
                    choix en cas de budget flexible, afin que vous puissiez explorer des ordinateurs
                     légèrement plus performants ou mieux équipés. Les ordinateurs proposés respecteront 
                     donc votre budget minimum 
                    et iront jusqu'au budget maximum augmenté de la marge de tolérance sélectionnée.
                    </p>`
                break;

            case "le budget":
                title.textContent = formulate_title;
                modal_content.innerHTML = `<p style="text-align: justify; font-weight: bold">
                    Le budget représente le montant maximal que vous êtes prêt à dépenser pour un ordinateur. 
                    Les gammes de prix influencent les types et la qualité des composants que vous pouvez obtenir.
                    </p>
                   <p style="text-align: justify; font-weight: bold">
                        Avoir un budget clair permet de trouver le meilleur compromis entre performance et prix.
                         Les ordinateurs haut de gamme offrent des performances optimales pour les tâches exigeantes,
                          mais ils sont plus coûteux.
                         Avec un budget limité, il est important de prioriser les composants essentiels pour vos besoins.
                    </p>`
                break;
            
            default:
                alert("Error: refraichir la page");
                break;
        }
    }
  </script>
{% endblock JsContent %}